# 全局配置
global:
  # 服务名称
  name: user-service
  # 配置文件版本
  version: 0.1.0
  # 日志配置
  log:
    # 日志级别
    level: debug
    # 日志文件路径
    path: ./logs/logs.log
    # 日志文件轮转
    rotate: true
    # 日志文件最大大小（MB）
    max_size: 2
    # 日志文件保存天数
    max_age: 28
    # 日志文件最大备份数
    max_backups: 30
    # 是否压缩日志文件
    compress: true
    # 是否使用本地时间而不是UTC时间
    local_time: true

# 服务配置
server:
  # http服务配置
  http:
    # 监听地址
    host: 0.0.0.0
    # 监听端口
    port: 8080
    # 请求体大小限制
    # 置空表示不限制
    body_limit: 5M
    # 请求频率限制(次/分钟)
    # 0表示不限制
    rate_limit: 20
    # 代理类型
    proxy_type: 0
    # 允许的代理IP地址
    # 本地回环地址、局域网地址和本地连接地址默认允许
    trust_ips:
      # 本地回环地址
      # - "127.0.0.1/32"
      # 局域网地址
      # - "10.0.0.0/8"
      # - "172.16.0.0/12"
      # - "192.168.0.0/16"
      # 本地连接地址
      # - "169.254.0.0/16"
      - "0.0.0.0/0"
    # TLS配置
    tls:
      # 是否启用TLS
      enable: false
      # TLS证书文件
      cert: ""
      # TLS密钥文件
      key: ""
      # 是否强制使用TLS
      force_https: false
      # HSTS配置
      hsts:
        # 是否启用HSTS
        enable: false
        # HSTS过期时间（秒）
        max_age: 5184000
        # 是否包含子域名
        include_subdomains: false
  # grpc服务配置
  grpc:
    # 监听地址
    host: 0.0.0.0
    # 监听端口
    port: 8081
    # TLS配置
    tls:
      # 是否启用TLS
      enable: false
      # 是否启用双向认证
      enable_mtls: false
      # CA证书文件
      ca: ""
      # 私钥文件
      cert: ""
      # 公钥文件
      key: ""

# gRPC客户端配置
client:
  # 是否启用TLS
  enable_tls: false
  # 是否启用双向认证
  enable_mtls: false
  # CA证书文件
  ca: ""
  # 私钥文件
  cert: ""
  # 公钥文件
  key: ""

# http服务配置
jwt:
  # 签发者
  issuer: service
  # 签名方法
  sign_method: HS256
  # 签名密钥
  secret: ""
  # 公钥
  public_key: public.pem
  # 私钥
  private_key: private.pem
  # 是否仅验证
  read_only: false
  # token过期时间
  expire: 1h
  # 刷新token过期时间
  refresh_expire: 24h

database:
  # 数据库类型
  # sqlite3, mysql, postgresql
  type: sqlite3
  # 当数据库类型为sqlite3时，此处填写数据库文件地址
  # 其余数据库类型填写使用的数据库名称
  database: database.db
  # 数据库地址
  host:
  # 数据库端口
  port: 0
  # 数据库用户名
  username:
  # 数据库密码
  password:
  # 是否使用SSL
  enable_ssl: false
  # 连接池长连接超时时间
  connection_timeout: 1h
  # 查询超时时间
  query_timeout: 10s
  # 连接池最大连接数
  max_connections: 32

# 监控配置
telemetry:
  # 是否启用
  enable: false
  # 服务名称
  name:
  # 接入点
  endpoint:
  # 认证秘钥
  token:
  # 服务名
  service_name:
  # 节点名
  host_name:
  # 启用数据库追踪
  database_trace: false
  # 启用grpc服务器追踪
  grpc_server_trace: false
  # 启用grpc客户端追踪
  grpc_client_trace: false
  # 启用http追踪
  http_server_trace: false